$letra-titulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$color-nav:  #06d17d;
$letra-nav: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color-main:  #9eeed3;
$col-letr-pag:  rgb(9, 212, 87);
$frase-letra: 'Lobster', cursive;
$color-letra-princip: black;