main{
    background-color: $color-main;
    .h2{
        color: $col-letr-pag;
        font-size: 80px;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
        margin-top: 40px;  
    }
    .h3{
        color: #016644;
        font-size: 70px;
        font-weight: bold;
        text-decoration: wavy;
        font-family: $frase-letra;
        text-align: center; 
    }

    .section-one{
       .h4{
       color: $color-letra-princip;
       font-size: 50px;
       font-weight: lighter;
       font-style: normal;
       text-align: center;
       text-transform: capitalize;
       margin-top: 80px;
       }
       p{
        color: $color-letra-princip;
        font-size: 25px;
        font-style: italic; 
        margin-left: 5px;
       }

       .section-card{
        @include flex(row,space-around,center);
       flex-wrap: wrap;
       margin-left: 50px;
       font-size: 20;

        .card{
            border: 3px;
           border-radius: 10px;
           overflow: hidden;
           margin-left: 20px;
           margin-bottom: 30px;
           margin-right: 40px;
          background-color: white;
          @include flex(column,space-around,center);
          flex-wrap: wrap;
          .img-libros{
            @include tamano(200px,300px);
          }
          .carrito2{
            display: flex;
            justify-content: center;
            @include tamano(30px,30px);
            margin-left: 160px;
            margin-bottom: 10px;  
            &:hover{
                transform: scale(1.3);
            }  
          }
          h6{
            color: $color-letra-princip;
            font-size: 25px;
            font-weight: bolder;
            font-style: normal;
            text-align: center;
          }
        }
       }
       .h5{
            color: $color-letra-princip;
            font-size: 50px;
            font-weight: lighter;
            font-style: normal;
            text-align: center;
            text-transform: capitalize; 
        }
    }

}